<!doctype html>
<html lang="en">
  <head>
   <!--====== Meta ======-->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="DW16" content="Page web formation Philiance médico-social">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!--====== Website Title ======-->
   <title>Erreur 404 | Page non trouvée</title>

   <!--====== Favicon Icon ======-->
   <link rel="shortcut icon" href="./assets/img/404.png" type="image">

   <!--====== Link ======-->
   <link rel="stylesheet" href="./assets/css/pnt.css">

</head>
<body>

    <h1>Erreur 404.</h1>
    <p class="subtitle">Page non trouvée !</p>
        
</body>
</html>