@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'), (under the Apache Software License);
    font-weight: 200;
    font-style: italic;
 }
 
 body {
    font-family: "Roboto", sans-serif;
 }
 
 p {
    color: #283891;
 }
 
 h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #283891;
 }
 
 .title-sm {
    font-size: 16px;
    letter-spacing: 1px;
 }
 
 a {
    font-weight: 700;
    transition: all 0.4s ease;
    text-decoration: none;
 }
 
 small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
 }
 
 section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 800px;
 }
 
 
 /*navbar*/
 header {
    position: fixed;
    top: 0;
    width: 100%;
    /* height: auto; */
    background-color: #6d9edd;
    box-shadow: 0 1px 20px rgb(167, 165, 165);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 }
 
 header .navbar ul {
    list-style: none;
    margin: 0;
 }
 
 header .navbar ul li {
    position: relative;
    float: left;
 }
 
 header .navbar ul li a {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
 }
 
 header .navbar ul li a:hover {
 color: #283891;
 }
 
 header .navbar ul li ul {
    position:fixed;
    /* left: 0; */
    width: 20%;
    height: 100px;
    background-color: #99e0c5;
    display: none;
    z-index: 1400;
    border-radius: 4px;
 }
 
 header .navbar ul li ul li {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 
 header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
 }
 
 header .navbar ul li:hover > ul {
    display: initial;
 }
 
 header .social-icons a {
    color: #fff;
    font-size: 30px;
    padding-left: 30px;
 }
 
 header .social-icons a:hover {
    color: #283891;
 }
 
 /*footer*/
 footer {
    background-color: #aee2ce;
    background: linear-gradient(#80a6d8, #aee2ce, #99e0c5);
 }
 
 .footer-top {
    padding-top: 80px;
    padding-bottom: 30px;
 }
 
 .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .footer-links a,
 footer .social-icons a {
    color: #3c4a70;
 }
 
 footer .social-icons a {
    font-size: 30px;
    color: #283891;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
    color: #283891;
    text-decoration: none;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #6295D9;
 }
 

/*------------Categories--------------*/
.intro {
    margin-top: 5em;
}
p.text-center {
    margin-bottom: 5em;
}
.img-pdf {
    background: #6295D9;
    padding: 12px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}
  .img-pdf img, .tile img{
    width: 35%;
}
.title-container {
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #6295D9;
    margin-bottom: 1.5em ;
    
}
.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8070D4;
    border: 6px solid rgba(0,0,0,0.2);
}

.title-detail-container {
    padding: 24px;
    text-align: center;    
    height: 250px;
}
.title-detail-container h3{
    text-transform:capitalize;

}
.title-container a, .modifSup a {
    text-decoration: none;
    color: white;
}
.title-container a:hover, .modifSup .btn-success{
    color: #0460D9;
}
.spacer {
    margin-bottom: 2em;
}

.support_video {
    margin-top: 5em;
    margin-bottom: 5em;
}
.title-container .btn-success, .modifSup .btn-success {
    color: #fff;
    background-color: #83A603 !important;
    border-color: #83A603 !important;
}
.modifSup {
    margin-top: 13px;
}
span.txtBold {
    font-weight: 600;
    width: 127px;
}
@media screen and (max-width: 599px) {
    .title-container, .video {
        margin-bottom: 30px;
    }
  }


.tile {
    text-align: center;    
}
.dce-file-viewer-import-btn {
    display: none;
}
.bloc_pdf {
    margin-top: 5em;
}

/*----------------SUPPORT------------------*/
.banere::after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;

}
.banere h1{
    color:#83A603;
}
.banere {
    position: relative;
    height: 571px;
    /* background-size: cover;
    background-position: center center; */
    background-repeat: no-repeat;    
    background-attachment: fixed;
}
.banere::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.titreBanere {
    position: absolute;
    bottom: 205px;
    width: 50%;
    text-align: center;
    left: 26%;
}
#supports .titreLeçon {
    margin-bottom: 2em;
}
.row.bloc {
    background: #F2F2F2;
    width: 100%;
    margin: 53px 0 0;
}
#supports .Btitre span {
    font-weight: 600;
}
.listeLeçon .titreCour {
    /* height:38px; */
}
.listeLeçon .duree {
    text-align: initial;
}
#supports .retour {
    margin-top: 3em;
    margin-bottom: 2em;
}
#supports input[type="button"] {
    background: #83A603;
    color: white;
    border: none;
    width: 20%;
    border-radius: 10px;
    padding:6px;
}
.reference {
    text-align: justify;
    /* height: 66px;  */
    display:flex;
}
.row.retourInscrire button.btn.btn-info{
    background: #83A603;
    color: white;
    border: none;
    border-radius: 10px;
    float: right;
    
}
.row.retourInscrire {
    margin-top: 2em;
    margin-bottom: 2em;
}
/*------------------Scrollbar----------------*/
.row.listeLeçon {
    max-height: 750px;
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}  

.row.listeLeçon::-webkit-scrollbar {
    width: 20px;
  }
.row.listeLeçon::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
.row.listeLeçon::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #F2F2F2;
  }
  /*------------------Fin Scrollbar----------------*/
#supports .titre, .titreform, .titreLeçon, .titre_contact {
    position: relative;
}
.titre h2, .titreform h2, .titreLeçon h2, .titre_contact h2 {
    text-align: center;
    background: #6295D9;
    padding: 20px;
    color: white;
}
.titre_contact h2{
    font-size:1.1rem;
}

.title-detail-container a {
    display: block;    
}
.modifSup a {
    color: white;
}
#supports .titre::after, .titreform::after, .titreLeçon::after, .titre_contact::after {
    border-top: 21px solid #6295D9;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -21px;
    left: 50%;
    margin-left: -21px;
}
.titre_contact::after{
    bottom: -13px;
}
.bloc_txt, .bloc_img {
    padding-top: 32px;
}
.bloc_txt, .bloc_img {
    padding-top: 40px;
}
.bloc_txt h3 {
    color: #83A603;    
    padding: 10px;
    font-size: 1.4em;
}
.bloc_txt p {
    text-align: justify;
}
.bloc_img img {
    border: 2px solid #83A603;
    padding: 2px;
}
.sousTitre2 {
    margin-top: 47px;
    border: 1px solid #83A603;
    height: 250px;
}
.titreCour a {
    color: #333;
}
.reference p {
    /* width: 360px;  */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    padding-left: 4px;
}
/*----------------Formulaire------------------*/

@media screen and (max-width: 599px) {
    .formSupport input#sousTitre, .formSupport input#titre-txt, .formSupport input#sousTitre1, .formSupport input#contenu, .formSupport input#sousTitre2, .formSupport input#sousTitre3 {
        height: 45px;
        width: 100% !important;
      } 
  }
.titreform {
    text-align: center;
    margin-bottom:4em;
    /*margin-top:3em;*/
}

.formSupport{
    width: 70% !important;
    margin: 0 auto;
    background-color: #F2F2F2;    
    border-radius: 1px #044BD9; 
    padding: 19px;
    border: 1px solid #0460D9;   
    border-radius: 5px;
} 

  .formSupport input#sousTitre, .formSupport input#titre-txt, .formSupport input#sousTitre1, .formSupport textarea, .formSupport input#sousTitre2, .formSupport input#sousTitre3 {
    height: 45px;
    width: 100%;
  } 
  .formSupport label.formContenu {
    display: block;
  }
  .formSupport label.formContenu {    
    font-size: 14px;
    padding-top: 12px;
}
  .formSupport button {
    width: 20%;
    height: 40px;
    border: none;
    font-size: 16px;
    color: #fff;
    background: #6295D9;
    text-transform: uppercase;
  }
  .formSupport p {
    font-family: sans-serif;
  }
  .formSupport a {
    text-decoration: none;
    color: white;
  }
  .formSupport a:hover {
    color: #673ab7;
  }
  
  .formSupport .sucess {
    text-align: center;
    background: #e75e54;
    width: 20%;
    padding: 20px;
    
    margin-top: 25px;
    text-align: center;
}
.formSupport #contenu{
    height:150px;
}
.btnListe {
    margin-bottom: 1em;
}
.btnListe button.btn.btn-success.btn-sm.mb-2 {
    width: 10%;
    height: 38px;
    float: right;
    background:#0460D9;
    border:none;
}
.btnListe {
    margin-top: 0em !important;
}
.btnListe a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}
.btnListe a:hover {
    color: #83A603;
}
.listeLeçon .table th, .table td{
    border-style: none !important;
}
.listeLeçon table.table {
    margin-top: 1em;
}
.modif {
    background-image: url(img/modif.png);
}
.listeLeçon table.table thead {
    background: #F2F2F2;
}

table.table a{
    text-decoration: none;
} 
.formSupport .boutton {
    margin-top: 12px;
    text-align: center;
}

/*---------------ListeLeçons----------------*/
.banere img {
    width: 100%;
}
#supports .blocTitre2 {
    background: #83A603;
    padding: 8px;
    color: white;
    text-align: center;
    font-size: 1.3em;
    
}
#supports .sousTitre2 p {
    padding: 16px;
}
#supports .blocTitre1 {
    padding-top: 2em;
    padding-bottom: 2em;
}
#supports .sousTitre2 p {
    text-align: justify;
}
/*---------------Accordion----------------*/

div#accordionProgram {
    margin-top: 4em;;
    padding: 2em;
    background: #F2F2F2;
}
div#accordionProgram .accordion-button:not(.collapsed){
    box-shadow: none !important;
}

div#accordionProgram .accordion-button:not(.collapsed){
    background: #F2F2F2;
}

/* .accordion-button:focus {
    background: none !important;
} */

div#accordionProgram .accordion-body {
    text-align: justify;
}

.formation{
    margin-top: 5em;
}

/*-------Formations------*/
.formation .bg-white
{
    background-color:#ffffff;  
}

.formation .bg-primary
{
    background-color:var(--bs-primary)!important; 
}

.formation .text-primary {
    color: #6D9EDD !important;
}


.formation .accordion-item {
    background-color: #fff;
    border: none;
    
}

.formation .accordion-button {
    background-color: #f2F2F2;
    box-shadow: none;
    border:none;
    padding: 20px 50px;
    margin: 4px 0;
}
.formation .accordion-button:not(.collapsed)
{
    border-bottom: 4px solid var(--bs-primary);
    color: var(--bs-primary);
    font-weight: bold;
    background-color: #f2F2F2; 
} 

.formation .accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.formation .accordion-button:not(.collapsed)::after {
    background-image: url("https://nsm09.casimages.com/img/2021/06/17//21061710471725998217466601.png");
    transform: rotate(-180deg);
}

.formation .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("https://nsm09.casimages.com/img/2021/06/17//21061710471725998217466600.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
  
}
.formation .accordion-button:not(.collapsed) {
    color: #6d9edd ! important;
}
.formation a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.courpdf {
    margin-top: 3em;
}
.pdfImg img {
    width: 50%;
}
.formation .pdfImg {
    border: 2px solid #6D9EDD;
    text-align: center;
    padding: 17px;
}
.formation .courVideo {
    margin-top: 5em;
}
.formation .nomCour {
    background: #6D9EDD;
    color: white;
    text-align: center;
    padding: 6px;
}
.formation h2.titreFormation {
    background: #F2F2F2;
    padding: 20px;
    color: #6D9EDD;
}
.formation .mb-5{
    margin-bottom: inherit !important;
}
.mb-5.lead-h-text.text-primary {
    padding: 12px;
}
.formation section#info-utile {
    margin-top: 1em;
}
.formation .form-check.cours {
    margin-top: 32px;
    text-align: center;
}
.formation label {
    display: inline-block;
    color: #83A603;
    font-weight: 600;
}
.formation .PaginationCours {
    margin-top: 31px;
}
.formation .pdfImg  {
    margin-top: 24px;
}
.formation .video {
    margin-top: 24px;
}
.formation .form-check .form-check-input {
    float: none;    
}
.formation .video img {
    width: 100%;
    padding: 10px;
    border: 1px solid #6D9EDD;
}
/*-------Contact------*/
.row.row.contact {
    margin-top: 5em;
    border: 1px solid #6295D9;
    padding: 2em;
}
div#formulaire span.input-group-addon.input-group-addon-contact {
    width: 20%;
}
div#formulaire .input-group.input-group-contact {
    margin-top: 20px;
}
div#formulaire button#envoi {
    width: 10%;
    margin: 0 auto;
    background: #83A603;
    color: white;
    margin-top: 2em;
}